*{
    font - family: poppins;
}
header {
    background-color: #ce0505;
    height: 80px;
    width:100%;
    position:relative
}
.logo-span{
    background-color: white;
    border-radius:50%;
    padding: 15px 20px;
    position: absolute;
    left:70px;
    top:8px;
}
.logo{
    text-decoration:none;
    font-size: 33px;
    font-weight: 600;
    color: #ce0505;
}
.login{
    color: #ffffff;
    text-decoration: none;
    text-align: left;
    
    }
.login-signup{
    position:absolute;
    right:70px;
    padding:30px 30px;
}
.createacc{
    color: #ffffff;
    text-decoration: none;
    word-spacing: normal;
    border: 1px solid white;
    padding: 10px 10px;
    border-radius: 5px; 
    margin: 0 0 0 26px;
    padding: 12px 14px 11px 15px;
}
section{
    position: relative;
    padding: 20px 50px;
}
.title-text{
    color: #192f60;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.53;
}
.filters-artical{
    display: inline-block;
    width: 260px;
    height: 682px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin: 27px 45px 8px 0px;
    top: 200px;
    left: 350px;
    color: #192f60;
}
.filter-text{
    line-height: 12px;
    margin-left: 27px;
    height: 35px;
}
.result1-artical{
    display: inline-block;
    width: 794px;
    height: 291px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    position: absolute;
    top: 100px;
    left: 350px;
    color: #192f60;
}
.image{
    border-radius:30px;
    padding: 27px;
    object-fit: contain;
}
.result2-artical{
    width: 794px;
    height: 291px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    position: absolute;
    top: 420px;
    left: 350px;
    color: #192f60;
}
.shop-name{
    display: inline-block;
    font-size: 30px;
    text-align: left;
    vertical-align: top;
    font-weight: 600px;
    margin: 14px 267.4px 5px 41px;
}
.shop-add{
    font-size: 16px;
    line-height: 2.5;
    display:block;
    width:39px ;
    height: 23px;
    font-weight: 300
}
.value1{
    display:inline-block;
    height:118px;
    width:140px;
    margin-left:40px;
    line-height:1.88;
    vertical-align: top;
}
.name1{
    display:inline-block;
    width: 251px;
    height: 69px;
    font-size: 16px;
    line-height:1.88;
  }
.pagination{
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin: 0 13px 0 0;
}
.next-button{
    display:inline-block;
    width: 18px;
    height: 18px;
    border: solid 1px #8c96ab;
    border-radius: 7px;
    text-align: left;
    padding: 10.2px 13.5px 9.5px 14.3px;
    text-decoration:None;
    background-color: #ffffff;
}
